body{
    background-color: #241A24;
}
#goToBtn{
    cursor: pointer;
}

.logo{
    width:19.8em;
    height: 15em;

}


.responseBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.streams{
    background: #210D35;
    color: white;
}
.title{
  color: white;

}
.center{
  text-align: center;
}

.container{

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
.mini-container{

  width: 225px;
  margin: 0 auto;
}